{% extends 'shared/_layout.html' %}

{% block content %}

<form action="/api/books/" method="post">
    <fieldset>
        <legend>Book Values</legend>
        <div class="table rows">
            <p>
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title"><br>
            </p>
            <p>
                <label for="author">Author:</label><br>
                <input type="text" id="author" name="author"><br>
                <span class="error">{{ book.errors['author'] }}</span>
            </p>
            <p>
                <label for="genre">Genre:</label><br>
                <input type="text" id="genre" name="genre"><br>
                <span class="error">{{ book.errors['genre'] }}</span>
            </p>
            <p>
                <label for="date_added">Date Added:</label><br>
                <input type="date" id="date_added" name="date_added"><br>
                <span class="error">{{ book.errors['date_added'] }}</span>
            </p>
            <p>
                <label for="priority">Priority:</label><br>
                <input type="text" id="priority" name="priority"><br>
                <span class="error">{{ book.errors['priority'] }}</span>
            </p>
            <p>
                <label for="referred_by">Referred By:</label><br>
                <input type="text" id="referred_by" name="referred_by"><br>
                <span class="error">{{ book.errors['referred_by'] }}</span>
            </p>
            <p>
                <label for="status">Status:</label><br>
                <input type="text" id="status" name="status"><br>
                <span class="error">{{ book.errors['status'] }}</span>
            </p>
            <p>
                <label for="category">Category:</label><br>
                <input type="text" id="category" name="category"><br>
                <span class="error">{{ book.errors['category'] }}</span>
            </p>
            <p>
                <label for="notes">Notes:</label><br>
                <input type="text" id="notes" name="notes"><br>
                <span class="error">{{ book.errors['notes'] }}</span>
            </p>
            <p>
                <label for="type_read">Type Read:</label><br>
                <input type="text" id="type_read" name="type_read"><br>
                <span class="error">{{ book.errors['type_read'] }}</span>
            </p>
            <p>
                <label for="rating">Rating:</label><br>
                <input type="text" id="rating" name="rating"><br>
                <span class="error">{{ book.errors['rating'] }}</span>
            </p>
            <p>
                <label for="date_read">Date Read:</label><br>
                <input type="date" id="date_read" name="date_read"><br>
                <span class="error">{{ book.errors['date_read'] }}</span>
            </p>
        </div>
        <button>Save</button>
    </fieldset>
</form>

<button id="delete-btn"
hx-delete="/api/books/{{ book.id }}"
hx-push-url="true"
hx-confirm="Are you sure you want to delete this book?"
hx-target="body">
Delete Book
</button>

<p>
<a href="/books">Back</a>
</p>

{% endblock %}
